.item {
  
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  &__imgs--format {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    justify-content: center;

    img {
      margin: 25px;
    }
  }
}