@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

$black: #0E050F;
$purple: #341948;
$purple-light: #9388A2;
$purple-dark: #281C2D;
$blue-dark: #1B1734;
$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
