@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap);

$black: #0e050f;
$purple: #341948;
$purple-light: #9388a2;
$purple-dark: #281c2d;
$blue-dark: #1b1734;
$red-light: #d25050;
$green-light: #86b388;

$lato: "Lato", sans-serif;
$montserrat: "Montserrat", sans-serif;
