@use "sass:color";

//https://css-tricks.com/how-to-recreate-the-ripple-effect-of-material-design-buttons/
@mixin mui($color, $lightness, $additional) {
  background-position: center;
  transition: background 0.8s;

  &:hover {
    background: color.scale($color: $color, $lightness: $lightness)
      radial-gradient(
        circle,
        transparent 1%,
        color.scale($color: $color, $lightness: $lightness) 1%
      )
      center/15000%;
  }

  transition: all 0.5s ease;

  &:active {
    background-color: color.scale($color: $color, $lightness: $lightness + $additional);
    background-size: 100%;
    transition: background 0s;
  }
}

@mixin mui-light($color) {
  @include mui($color, 20%, 20%);
}

@mixin mui-dark($color) {
  @include mui($color, 5%, 7.5%);
}
