@import "../assets/vars";
@import "../assets/mui.scss";

.location-table {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__country {
    margin: 10px;
    &-header {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      border-radius: 10px;
      background-color: $blue-dark;
      width: 100%;
      padding: 30px;
      @include mui-dark($blue-dark);
    }
  }
}
