@import "../assets/vars";
@import "../assets/mui.scss";

.pagination {
  display: flex;
  width: min(500px, 80%);
  margin: 10px auto;

  align-items: center;
  flex-direction: column;

  @media only screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__button {
    height: 75px;
    margin: 10px;
    width: 150px;
    background: $blue-dark;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    @include mui-dark($blue-dark);
    display: grid;
    place-items: center;
  }
}
