@import "assets/vars";

.carousel {
  width: 90%;
  margin: 10px auto;

  @media only screen and (min-width: 600px) {
    width: 600px;
    &__item {
      width: 60%;
    }
  }

  height: 600px;
  &__item {
    border-radius: 10px;
    background-color: $purple-light;
    padding: 20px;
    margin: auto;
    text-align: center;

    &-img {
      position: relative;
      width: 100px;
      height: 100px;
      margin: auto;
      margin-top: 15px;
    }
  }
}
