@import "assets/vars";

.footer {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    padding: 10px;

    &__item {
        fill: $purple-light;
        font-size: 50px;
    }
}
