.item-page {
  &__header,
  &__item-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    & > * {
      margin-top: 20px;
    }

    @media only screen and (min-width: 500px) {
      flex-direction: row;
      & > * {
        margin-left: 20px;
      }
    }
  }

  &__header-metada {
    display: flex;
    flex-direction: column;

    * {
      margin: 0;
      text-align: left;
    }
  }

  &__item-section {
    margin-bottom: 50px;
  }
  &__back-button {
    width: 80px;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
  }

  &__price-info {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 10px;
  }

  &__category-meat {
    background: #ff1744;
    &:hover {
      background: lighten($color: #ff1744, $amount: 25);
    }
  }

  &__category-miscellaneous {
    background: #3f51b5;
    &:hover {
      background: lighten($color: #3f51b5, $amount: 25);
    }
  }

  &__category-fruits-and-vegetables {
    background: #4caf50;
    &:hover {
      background: lighten($color: #4caf50, $amount: 25);
    }
  }

  &__category-dairy {
    background: #ff5722;
    &:hover {
      background: lighten($color: #ff5722, $amount: 25);
    }
  }

  &__category-starches-and-grains {
    background: #6d4c41;
    &:hover {
      background: lighten($color: #6d4c41, $amount: 25);
    }
  }

  &__category-canned-food {
    background: #c62828;
    &:hover {
      background: lighten($color: #c62828, $amount: 25);
    }
  }
}
