.item-page {
    &__header, &__item-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        & > * {
            margin-top: 20px;
        }

        @media only screen and (min-width: 500px) {
            flex-direction: row;
            & > * {
                margin-left: 20px;

            }
        }
    }

    &__item-section {
        margin-bottom: 50px;
    }
    &__back-button {
        width: 80px;
        height: 80px;
        font-size: 40px;
        font-weight: bold;
    }
}
