@import "assets/vars";

.layout {
    margin: 0;
    //I have no fucking clue why but I need this in order for there not to be whitespace at the top
    border: 1px solid $purple-dark; 
    background-color: $purple-dark;
    height: calc(100vh - 2px);
}

.layout h1, .layout h2, .layout h3 {
    font-family: $montserrat;
}

.layout * {
    font-family: $lato; 
    box-sizing: border-box;
    color: white;
}
