@import "assets/vars";

.layout {
    margin: 0;
    background-color: $black;
    height: calc(100vh - 2px);
    
    a {
        text-decoration: none;
    }

    * {
        font-family: $lato; 
        box-sizing: border-box;
        color: white;
    }

    h1, h2, h3 {
        font-family: $montserrat;   
    }

    &__main {
        width: 98%;
        margin: auto;
    }
}

