@import "assets/vars";

.layout {
    margin: 0;
    background-color: $black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    a {
        text-decoration: none;
    }

    a:hover {
        font-weight: bold;
    }

    a:visited {
        color: white;
    }

    * {
        font-family: $lato; 
        box-sizing: border-box;
        color: white;
    }

    h1, h2, h3 {
        font-family: $montserrat;   
    }

    &__main {
        width: 90%;
        margin: auto;
        flex: 1;

        @media only screen and (min-width: 500px) {
            width: 100%;
        }
    }
}

