@import "assets/vars";

.nav {
    display: flex;
    font-family: $montserrat;
    align-items: center;
    background-color: $purple-dark;
    border-bottom: 2px solid $purple-light;
    padding: 20px;
    justify-content: space-between;
    color: $purple-light;

    flex-direction: column;
    @media only screen and (min-width: 400px) {
        flex-direction: row;
    }

    &__item {
        margin: 8px 0;
        font-weight: bold;

        &--bold {
            font-weight: bold;
        }
    }
}