@import "assets/vars";

.store-list {
    background-color: $black;
    border: 5px solid $black;

    &__location {
        &-field {
            border: 2px solid $purple-light;
            padding: 25px;
            border-radius: 5px;
            overflow-x: auto;
            margin: 20px auto;
            display: flex;
            justify-content: center;
        }

        &-prov-col,
        &-city-col {
            display: flex;
            flex-direction: column;
        }

        &-city-col {
            & > * {
                width: 200px;
                margin-bottom: 5px;
                font-weight: bold;

                &:hover {
                    border: 2px solid $blue-dark;
                    background-color: $blue-dark;
                    color: $purple-light;
                }
            }
        }
    }

    &__pagination-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        @media only screen and (min-width: 400px) {
            flex-direction: row;
        }
    }

    &__pagination-button {
        background-color: $purple;
        width: 140px;
        padding: 0;
        margin: 10px;


        &-link {
            font-weight: bold;
            font-size: 16px;
            padding: 20px;
            width: 100%;
            height: 100%;
        }
    }

    &__pagination-button:disabled {
        background-color: $black;
        a {
            color: $black;
        }
    }

    &__pagination-button:hover {
        background-color: lighten($color: $purple, $amount: 10);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & > * {
            width: 285px;
            height: 150px;
            margin-bottom: 20px;
        }

        @media only screen and (min-width: 400px) {
            flex-direction: row;
            & > * {
                margin-left: 10px;
                margin-right: 10px;
                width: 350px;
            }
        }
    }

    &__store-item {
        & > *:hover {
            background-color: $blue-dark;
            outline: none;
            border: none;
            border: 2px solid $purple-light;

            span {
                color: $purple-light;
            }
        }

        &--format {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }

        &-address {
            display: flex;
            flex-direction: column;
            margin-left: 25px;
            align-items: center;

            & span {
                color: $blue-dark;
                font-weight: bold;
                font-size: 12px;
            }

            @media only screen and (min-width: 400px) {
                & span {
                    font-size: 14px;
                }
            }
        }
    }
}
