@import "assets/vars";

.store-list {
  background-color: $black;
  border: 5px solid $black;
  
  &__pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    @media only screen and (min-width: 400px) {
      flex-direction: row;
    }
  }

  &__pagination-button {
    background-color: $purple;
    width: 140px;
    padding: 0;
    margin: 10px;

    &-link {
      font-weight: bold;
      font-size: 16px;
      padding: 20px;
      width: 100%;
      height: 100%;
    }
  }

  &__pagination-button:disabled {
    background-color: $black;
    div {
      color: $black;
    }
  }

  &__pagination-button:hover {
    background-color: lighten($color: $purple, $amount: 10);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 50vh;

    .store-list__store-item {
      width: 285px;
      height: 150px;
      margin-bottom: 20px;
    }

    @media only screen and (min-width: 400px) {
      flex-direction: row;
      .store-list__store-item {
        margin-left: 10px;
        margin-right: 10px;
        width: 350px;
      }
    }
  }

  &__store-item {
    &-btn {
      width: 100%;
      height: 100%;
    }
    &-image {
      width: 80px;
      height: 80px;
      position: relative;

      &--skeleton {
        width: 80px;
        height: 80px;
      }
    }
    & > *:hover {
      background-color: $blue-dark;
      outline: none;
      border: none;
      border: 2px solid $purple-light;

      span {
        color: $purple-light;
      }
    }

    &--format {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
    }

    &-address {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      align-items: center;
      height: 80px;

      &--skeleton {
        span {
          margin-bottom: 10px;
          display: inline-block;
          width: 150px;
          height: 20px;
        }
      }

      & span {
        color: $blue-dark;
        font-weight: bold;
        font-size: 12px;
      }

      @media only screen and (min-width: 400px) {
        & span {
          font-size: 14px;
        }
      }
    }

    &-image--skeleton,
    &-address--skeleton span {
      border-radius: 10px;
      background: linear-gradient(
          to right,
          rgba(lighten($purple, 25%), 0),
          rgba(lighten($purple, 25%), 0.5) 50%,
          rgba(lighten($purple, 25%), 0) 80%
        ),
        $purple;
      background-repeat: repeat-y;
      background-size: 50px 500px;
      background-position: 0 0;
      animation: shine 1s infinite;
    }
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    .MuiCircularProgress-colorPrimary {
      color: $purple-light;
    }
  }

  @keyframes shine {
    to {
      background-position: 100% 0, /* move highlight to right */ 0 0;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
  }
}
