@import "assets/vars";

.store-page {
  background-color: $black;
  border: 5px solid $black;
  text-align: center;

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    &-bar {
      input {
        height: 40px;
      }
      margin-right: 10px;
    }
  }

  &__pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin: 10px;

    * {
      height: 100%;
    }
    @media only screen and (min-width: 500px) {
      flex-direction: row;
    }
  }

  &__pagination-button,
  &__back-to-top-button {
    background-color: $purple;
    width: 150px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    height: 100%;
  }

  &__pagination-button:disabled {
    background-color: $black;
    a {
      color: $black;
    }
  }

  &__pagination-button:hover,
  &__back-to-top-button:hover {
    background-color: lighten($color: $purple, $amount: 10);
  }

  &__item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__category {
    &-clear {
      @media only screen and (max-width: 750px) {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 15px;
        left: 15px;
        z-index: 999;
        padding: 30px;
        background-color: $purple;

        &:hover {
          background-color: lighten($color: $purple, $amount: 10);
        }

        &:active {
          background-color: lighten($color: $purple, $amount: 15);
        }
      }

      &-icon {
        width: 40px;
        height: 40px;
      }
    }
    &-list {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin: 25px 0;

      & > * {
        margin: 5px;
      }

      & > *:nth-child(2) {
        width: 200px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    width: 300px;
    height: 500px;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-button {
      margin-bottom: 10px;
      height: 400px;
    }

    &-category {
      height: 50px;
      width: 100%;
    }

    &-price {
      font-weight: bold;
      font-size: 18px;
    }

    &-name--skeleton {
      border-radius: 5px;
      background-color: linear-gradient(
          to right,
          rgba(lighten($purple, 25%), 0),
          rgba(lighten($purple, 25%), 0.5) 50%,
          rgba(lighten($purple, 25%), 0) 80%
        ),
        $purple;
      padding: 10px;
      width: 150px;
      height: 30px;
    }

    &-image--skeleton {
      border-radius: 5px;
      background-color: linear-gradient(
          to right,
          rgba(lighten($purple, 25%), 0),
          rgba(lighten($purple, 25%), 0.5) 50%,
          rgba(lighten($purple, 25%), 0) 80%
        ),
        $purple;
      padding: 10px;
      width: 125px;
      height: 125px;
    }

    &-price--skeleton {
      width: 150px;
      height: 35px;
      margin: 16px 0;
    }

    &-last-updated--skeleton {
      width: 125px;
      height: 50px;
    }

    &-last-updated--skeleton,
    &-price--skeleton,
    &-name--skeleton,
    &-image--skeleton {
      border-radius: 10px;
      background: linear-gradient(
          to right,
          rgba(lighten($purple, 25%), 0),
          rgba(lighten($purple, 25%), 0.5) 50%,
          rgba(lighten($purple, 25%), 0) 80%
        ),
        $purple;
      background-repeat: repeat-y;
      background-size: 50px 500px;
      background-position: 0 0;
      animation: shine 1s infinite;
    }

    @keyframes shine {
      to {
        background-position: 100% 0, /* move highlight to right */ 0 0;
      }
    }
  }
}
